@model KarkaThamizha.Object.Models.BooksReviewModels
@using KarkaThamizha.Common.Utility

@{
    ViewBag.Title = "BooksReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <meta name="keywords" content='@ViewBag.MetaKeywords' />
    <meta name="description" content='@ViewBag.MetaDescription' />
}

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="~/framework/js/html5shiv.js"></script>
    <script src="~/framework/js/respond.min.js"></script>
<![endif]-->


<style>
    .description {
        padding-right: 10px;
    }

        .description p.more {
            text-align: right;
        }

            .description p.more a {
                color: #ed1f01;
            }
</style>
<input type="hidden" id="hdnSessionId" value="@Session["UserID"]" />
<!-- main content -->
<article class="article-container clearfix" itemscope itemtype="http://schema.org/Article">
    <div class="article-content clearfix">
        @if (Model != null)
        {
            <header>


                <div class="figure-container">
                    <figure class="featured-post-figure" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a data-lightbox="true" title="Image With Image + Lightbox" href="~/Images-Website/8.png"><img itemprop="contentURL" src="~/Images-Website/7.jpg" /></a>
                        <figcaption itemprop="description">A few words about item1122</figcaption>
                    </figure>
                </div>

                <h3 itemprop="headline">@Model.Header</h3>
                <div class="post-meta">
                    <ul>
                        <li>
                            <i class="icon-user3"></i>
                            <a href="@Url.Action("User", "User", new { UserID = @Model.UserID })" target="_blank" tabindex="_blank" title="Tamil Books">@Model.UserName</a>
                        </li>
                        <li><i class="icon-library"></i><a href="#">World</a></li>

                        <li itemprop="datePublished"><i class="icon-alarm2"></i>@Model.CreatedDate</li>
                        <li><i class="icon-bubbles4"></i><a href="#" itemprop="interactionCount">0 Comments</a></li>
                        <li itemprop="interactionCount"><i class="icon-tv"></i>0</li>
                        <li itemprop="interactionCount"><i class="icon-heart"></i>0</li>
                    </ul>
                </div>

                <div class="divider"></div>
            </header>

            <div class="post-entry" itemprop="articleBody">
                @Html.Raw(Model.Description.ToString().Replace("\r\n", "<br />"))

                @if (Model.Type == "Magazine")
                {
                    <h5 itemprop="headline">நன்றி: @Model.MagazineName (@Model.SourceDate?.ToShortDateString())</h5>
                }

                @*<ul class="post-ul">
                        <li><i class="icon-thumbs-up"></i>படித்தது.</li>
                        <li><i class="icon-thumbs-up"></i>தற்போது படிப்பது.</li>
                        <li><i class="icon-thumbs-up"></i>படிக்க விரும்புவது.</li>
                    </ul>*@

                @*<blockquote>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, Highlight Text:  lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibhvulputate cursus a sit amet mauris.</p>
                    </blockquote>*@

                <nav class="post-navigation clearfix">
                    <div class="prev-article col-md-6 col-sm-6 col-xs-12">
                        <cite>Previous Article</cite>
                        <h3>India Takes Down Its First Cyber Criminal</h3>
                        <a href="#Prev_Article" class="more"></a>
                    </div>

                    <div class="next-article col-md-6 col-sm-6 col-xs-12">
                        <cite>Next Article</cite>
                        <h3>Bear Introduced to Snow for the First Time</h3>
                        <a href="#Next_Article" class="more"></a>
                    </div>
                </nav>
            </div>
        }
        <footer class="article-boxes clearfix">

            <aside class="tags-box clearfix" data-showonscroll="true" data-animation="fadeIn">
                <div class="box-title">
                    <h3>Tagged With:</h3>
                </div>

                <div class="box-content tags-cloud clearfix">
                    <a href="#">Technology<span class="badge">15</span></a>
                    <a href="#">President<span class="badge">10</span></a>
                    <a href="#">Coup<span class="badge">13</span></a>
                </div>
            </aside>

            @{
                Html.RenderPartial("_ShareOn", new KarkaThamizha.Object.Models.ShareOnModels());
            }

            <aside class="author-box clearfix" itemprop="author" itemscope="" itemtype="http://schema.org/Person" data-showonscroll="true" data-animation="fadeIn">
                <div class="box-title">
                    <h3 class="hidden">Written By:</h3>
                    <div itemprop="image">
                        <img title=@Model.UserInfo.UserName alt=@Model.UserInfo.UserName src="@Url.Content("~/Images-Author/" + Model.UserInfo.UserDetail.ImgComments)" data-src=@Model.UserInfo.UserName onerror="this.onerror = null; this.src = 'http://www.karkathamizha.com/Images-Author/Author1.jpg'" class="avatar">
                    </div>
                </div>

                <div class="box-content clearfix">
                    <h4 class="name">
                        <a itemprop="name" href="@Url.Action("AuthorDetails", "Author", new { Name = Model.UserInfo.UserName.Replace(" ", "-"), UserID = Model.UserInfo.UserID })" target="_blank" tabindex="_blank" title="Tamil Writers">@Model.UserInfo.UserName</a>
                    </h4>

                    <div itemprop="description" class="description">
                        <p>@Model.UserInfo.UserDetail.Profile</p>
                        <p class="more">@Html.ActionLink("மேலும்...", "AuthorDetails", "Author", new { Name = Model.UserInfo.UserName.Replace(" ", "-"), UserID = Model.UserInfo.UserID }, new { @class = "", target = "_blank" })</p>
                    </div>

                    <div class="social-icons">
                        @{Html.RenderPartial("_SocialMedia", Model.UserInfo); }
                    </div>

                </div>
            </aside>

            <!-- Related Article Box -->
            <aside id="divRelatedBox_1" class="cat-widget wdg-cat-scrollbox cat-scroll-box clearfix">

                <div class="widget-title">
                    <h3>Related Articles</h3>

                    <div class="sep-widget"></div>
                </div>

                <div class="widget-content color-theme clearfix">
                    <div>
                        <ul class="nav-arrows list-inline">
                            <li><a href="#" class="backward"><i class="icon-arrow-left6"></i></a></li>
                            <li><a href="#" class="forward"><i class="icon-arrow-right6"></i></a></li>
                        </ul>

                        <div class="scroll-box">

                            <div class="post-item">
                                <article class="post-box clearfix">
                                    <a class="post-thumbnail">
                                        <img src="" data-src="holder.js/314x210/sky" />
                                    </a>

                                    <div class="top-bar">
                                        <span class="likes"><a href="#"><i class="icon-heart"></i>10</a></span>

                                        <span class="comments"><i class="icon-bubble"></i>1500</span>
                                        <span class="views"><i class="icon-tv"></i>2000</span>

                                        <span class="btn-srp"><a href="#">Sport</a></span>
                                    </div>

                                    <div class="title-bar">
                                        <h4 class="post-title"><a href="#">Post With Featured Image</a></h4>

                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                            <span class="date-time"><i class="icon-alarm2"></i>14 Aug 2013, 05:15 AM</span>
                                        </div>

                                    </div>

                                    <div class="bottom-bar">
                                        <span class="btn-srp"><a href="#">Read More...</a></span>

                                        <div class="rating">
                                            <div class="stars retina x-2">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                                <div class="fill" style="width: 90%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </article>
                            </div>

                            <div class="post-item">
                                <article class="post-box clearfix">
                                    <a class="post-thumbnail">
                                        <img src="" data-src="holder.js/314x210/sky" />
                                    </a>

                                    <div class="top-bar">
                                        <span class="likes"><a href="#"><i class="icon-heart"></i>10</a></span>

                                        <span class="comments"><i class="icon-bubble"></i>1500</span>
                                        <span class="views"><i class="icon-tv"></i>2000</span>

                                        <span class="btn-srp"><a href="#">Movies</a></span>
                                    </div>

                                    <div class="title-bar">
                                        <h4 class="post-title"><a href="#">Post With Youtube Video</a></h4>

                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                            <span class="date-time"><i class="icon-alarm2"></i>14 Aug 2013, 05:15 AM</span>
                                        </div>

                                    </div>

                                    <div class="bottom-bar">
                                        <span class="btn-srp"><a href="#">Read More...</a></span>

                                        <div class="rating">
                                            <div class="stars retina x-2">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                                <div class="fill" style="width: 50%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </article>
                            </div>

                            <div class="post-item">
                                <article class="post-box clearfix">
                                    <a class="post-thumbnail">
                                        <img src="" data-src="holder.js/314x210/sky" />
                                    </a>

                                    <div class="top-bar">
                                        <span class="likes"><a href="#"><i class="icon-heart"></i>10</a></span>

                                        <span class="comments"><i class="icon-bubble"></i>1500</span>
                                        <span class="views"><i class="icon-tv"></i>2000</span>

                                        <span class="btn-srp"><a href="#">Music</a></span>
                                    </div>

                                    <div class="title-bar">
                                        <h4 class="post-title"><a href="#">Post With Sound Cloud</a></h4>

                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                            <span class="date-time"><i class="icon-alarm2"></i>15 Aug 2013, 05:15 AM</span>
                                        </div>

                                    </div>

                                    <div class="bottom-bar">
                                        <span class="btn-srp"><a href="#">Read More...</a></span>

                                        <div class="rating">
                                            <div class="stars retina x-2">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                                <div class="fill" style="width: 20%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </article>
                            </div>

                            <div class="post-item">
                                <article class="post-box clearfix">
                                    <a class="post-thumbnail">
                                        <img src="" data-src="holder.js/314x210/sky" />
                                    </a>

                                    <div class="top-bar">
                                        <span class="likes"><a href="#"><i class="icon-heart"></i>10</a></span>

                                        <span class="comments"><i class="icon-bubble"></i>1500</span>
                                        <span class="views"><i class="icon-tv"></i>2000</span>

                                        <span class="btn-srp"><a href="#">Technology</a></span>
                                    </div>

                                    <div class="title-bar">
                                        <h4 class="post-title"><a href="#">Honda Now Lets You 3D Print Its Concept Car Models</a></h4>

                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                            <span class="date-time"><i class="icon-alarm2"></i>14 Aug 2013, 05:15 AM</span>
                                        </div>

                                    </div>

                                    <div class="bottom-bar">
                                        <span class="btn-srp"><a href="#">Read More...</a></span>

                                        <div class="rating">
                                            <div class="stars retina x-2">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                                <div class="fill" style="width: 40%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </article>
                            </div>

                        </div>
                    </div>
                </div>
            </aside>


            <!-- Comments Box -->
            <aside class="cat-widget comments-box clearfix" itemprop="comment" itemscope="" itemtype="http://schema.org/UserComments">
                <div class="widget-title">
                    <h3>Comments</h3>

                    <div class="sep-widget"></div>
                </div>

                <div class="widget-content color-theme clearfix">
                    <div class="comments">
                        @{
                            Html.RenderPartial("_Comments", new KarkaThamizha.Object.Models.CommentsModels());
                        }

                        @{
                            Html.RenderPartial("_AddComments", new KarkaThamizha.Object.Models.CommentsModels());
                        }

                    </div>
                </div>
            </aside>

        </footer>

    </div>
</article>

@section scripts{
    <script>
        var masterPageID = @((int)EnumCode.Pages.BooksReviewAll);
    </script>
    <script src="~/JavaScript/Comments.js"></script>
}
