
@model IEnumerable<KarkaThamizha.Object.Models.BooksReviewModels>
@using KarkaThamizha.Common.Utility
@{ ViewBag.Title = "karka Thamizha";}

<meta name="keywords" content="Tamil Books Review, Magazine Review, Tamil Author Details, Tamil Author Books, Tamil Books, Book Release, Book Fair">
<meta name="description" content="To view all tamil author details and Books.">

@section MainScroll{
    <!-- #camera_wrap_1 -->
    <section id="camera_wrap_1" class="container camera_wrap camera_azure_skin">
        <div data-thumb="" data-src="../Images-Website/5.jpg">
            <div class="camera_caption fadeFromBottom">
                <h2>கவிதைகள்</h2>
                @*<div class="meta-info">
                        <span><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                        <span><i class="icon-alarm2"></i>14 Aug 2013, 05:30 AM</span>
                        <span><i class="icon-library"></i><a href="pg-category.html">World</a></span>
                    </div>*@

                @*<div class="rating">
                        <div class="stars retina x-3">
                            <div class="gray">
                                <i></i><i></i><i></i><i></i><i></i>
                            </div>

                            <div class="fill" style="width: 80%">
                                <div class="light">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                            </div>

                        </div>
                    </div>*@

                @*<h3><a href="#">கவிதைகள்</a></h3>*@
                <!--<span class="btn-srp color-theme"><a href="#cat">Movies</a></span>-->
            </div>
        </div>
        <div data-thumb="" data-src="../Images-Website/Novel.jpg">
            <div class="camera_caption fadeFromBottom">
                <h2>புதினங்கள்(சரித்திரம்)</h2>
                <div class="meta-info">
                    <span><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                    <span><i class="icon-alarm2"></i>25 Dec, 2013</span>
                    <span><i class="icon-library"></i><a href=""></a></span>
                </div>
                <h3><a href="#">Post With Youtube Video</a></h3>
            </div>
        </div>
        <div data-thumb="" data-src="../Images-Website/8.png">
            <div class="camera_caption fadeFromBottom">
                <div class="meta-info">
                    <span><i class="icon-user3"></i><a href="#">Rating</a></span>
                    <span><i class="icon-alarm2"></i>25 Dec, 2013</span>
                    <span><i class="icon-library"></i><a href="pg-category.html">Fashion</a></span>
                </div>

                <div class="rating">
                    <div class="stars retina x-3">
                        <div class="gray">
                            <i></i><i></i><i></i><i></i><i></i>
                        </div>

                        <div class="fill" style="width: 50%">
                            <div class="light">
                                <i></i><i></i><i></i><i></i><i></i>
                            </div>nol
                        </div>
                    </div>
                </div>
                <h3><a href="#">Post With Sound Cloud</a></h3>
            </div>
        </div>
        <div data-thumb="" data-src="../Images-Website/4.png">
            <div class="camera_caption fadeFromBottom">
                <h2>புதினங்கள்(சமூகம் / சிறுகதைகள் / நெடுங்கதைகள்)</h2>
                <div class="meta-info">
                    <span><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                    <span><i class="icon-alarm2"></i>25 Dec, 2013</span>
                    <span><i class="icon-library"></i><a href="pg-category.html">Technology</a></span>
                </div>

                <div class="rating">
                    <div class="stars retina x-3">
                        <div class="gray">
                            <i></i><i></i><i></i><i></i><i></i>
                        </div>

                        <div class="fill" style="width: 60%">
                            <div class="light">
                                <i></i><i></i><i></i><i></i><i></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="#">How Google Ruined 'What Time is the Super Bowl?</a></h3>
            </div>
        </div>
        <div data-thumb="" data-src="../Images-Website/1.png">
            <div class="camera_caption fadeFromBottom">
                <div class="meta-info">
                    <span><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                    <span><i class="icon-alarm2"></i>25 Dec, 2013</span>
                    <span><i class="icon-library"></i><a href="pg-category.html">Technology</a></span>
                </div>
                <div class="rating">
                    <div class="stars retina x-3">
                        <div class="gray">
                            <i></i><i></i><i></i><i></i><i></i>
                        </div>

                        <div class="fill" style="width: 20%">
                            <div class="light">
                                <i></i><i></i><i></i><i></i><i></i>
                            </div>
                        </div>

                    </div>
                </div>
                <h3><a href="#">4 Android Tablet Apps to Make Life Simpler</a></h3>
            </div>
        </div>

        <div data-thumb="" data-src="../Images-Website/9.png">
            <div class="camera_caption fadeFromBottom">
                <div class="meta-info">
                    <span><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                    <span><i class="icon-alarm2"></i>25 Dec, 2013</span>
                    <span><i class="icon-library"></i><a href="pg-category.html">Internet</a></span>
                </div>

                <div class="rating">
                    <div class="stars retina x-3">
                        <div class="gray">
                            <i></i><i></i><i></i><i></i><i></i>
                        </div>
                        <div class="fill" style="width: 40%">
                            <div class="light">
                                <i></i><i></i><i></i><i></i><i></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="#">10 Photos of Indonesia's Deadly Volcanic Eruption</a></h3>
            </div>
        </div>
    </section>
}

<!-- Opposite Posts Category -->
<section class="cat-widget wdg-cat-opposite clearfix">

    <div class="widget-title">
        <h3><a href="#">புதினம் - </a></h3>
        <span class="sub-title">சரித்திர நாவல் / சிறுகதைகள்</span>
        <div class="sep-widget"></div>
    </div>

    @if (Model == null)
    { return; }

    <div class="color-red widget-content clearfix">
        <div>
            <article class="odd-item" data-showonscroll="true" data-animation="fadeIn">

                @{var novel = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.சரித்திர_வரலாற்று_நாவல்); }

                @if (novel != null)
                {
                    <figure class="sec-image">
                        <a class="post-thumbnail"><img src="../Images-Website/3-md.jpg" data-src="" alt="" /></a>
                        <div class="top-bar">
                            <span class="likes"><a href="#" title="Likes"><i class="icon-heart"></i>90</a></span>
                            <span class="comments"><a href="#" title="Comments"><i class="icon-bubble"></i>35</a></span>
                            <span class="views"><i class="icon-tv"></i>255</span>
                            <span class="btn-srp "><a href="">புதினம்</a></span>
                        </div>

                        <div class="bottom-bar">
                            <span class="btn-srp">@Html.ActionLink("மேலும்...", "BookDetails", "BookDetails", new { id = 333 }, new { @class = "link", target = "_blank" })</span>

                            <div class="rating">
                                <div class="stars retina x-2">
                                    <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                    <div class="fill" style="width: 80%">
                                        <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>

                    <div class="sec-desc">
                        <header class="title">
                            <h4 class="post-title">
                                @Html.ActionLink(novel.Header.ToString().Substring(0, (Convert.ToString(novel.Header.ToString())).Length), "/AllReview", new { bookDetailsID = novel.BookDetail.BookDetailsID }, new { @class = "divfloat", target = "_blank" })
                            </h4>
                        </header>

                        <div class="meta-info">
                            <span class="author"><i class="icon-user3"></i><a href="#">@novel.Users.UserName</a></span>
                            <span class="date-time"><i class="icon-alarm2"></i>@novel.CreatedDate</span>
                        </div>

                        <div class="post-desc">
                            <p style="text-align:justify;">@Html.Raw(novel.Description.ToString().Replace("\r\n", "<br />").ToString().Chop(270))</p>
                            <div>
                                @Html.ActionLink("மேலும்...", "/BooksReview", "BooksReview", new { booksReviewID = novel.BooksReviewID }, new { @class = "divfloat", target = "_blank" })
                            </div>
                        </div>
                    </div>
                }
                @*else
                    {<div>சரித்திர / வரலாற்று நாவல் பற்றி தற்போது எந்த விதமான புத்தக விமர்சனங்களும் இல்லை.</div>}*@
            </article>

            <div class="divider"></div>
            <article class="even-item" data-showonscroll="true" data-animation="fadeIn">
                @{var shortStory = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.சிறுகதைகள்); }
                @if (shortStory != null)
                {
                    <figure class="sec-image">

                        <a class="post-thumbnail"><img src="../Images-Website/5-md.jpg" data-src="" alt="" /></a>

                        <div class="top-bar">
                            <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                            <span class="comments"><i class="icon-bubble"></i>35</span>
                            <span class="views"><i class="icon-tv"></i>300</span>
                            <span class="btn-srp"><a href="pg-category.html">சிறுகதைகள்</a></span>
                        </div>

                        <div class="bottom-bar">
                            <span class="btn-srp"><a href="#">மேலும்...</a></span>

                            <div class="rating">
                                <div class="stars retina x-2">
                                    <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                    <div class="fill" style="width: 80%">
                                        <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="sec-desc">
                        <header class="title">
                            <h4 class="post-title">
                                @Html.ActionLink(shortStory.Header.ToString().Substring(0, (Convert.ToString(shortStory.Header.ToString())).Length), "/AllReview", new { bookDetailsID = shortStory.BookDetail.BookDetailsID }, new { @class = "divfloat", target = "_blank" })
                            </h4>
                        </header>

                        <div class="meta-info">
                            <span class="author"><i class="icon-user3"></i><a href="#">@shortStory.Users.UserName</a></span>
                            <span class="date-time"><i class="icon-alarm2"></i>@shortStory.CreatedDate</span>
                        </div>
                        <div class="post-desc">
                            <p style="text-align:justify;">@shortStory.Description.ToString().Chop(270)</p>
                            <div>
                                @Html.ActionLink("மேலும்...", "/BooksReview", "BooksReview", new { booksReviewID = shortStory.BooksReviewID }, new { @class = "divfloat", target = "_blank" })
                            </div>
                        </div>

                    </div>
                }

                @*else
                    {
                        <div> சிறுகதைகள் பற்றி தற்போது எந்த விதமான புத்தக விமர்சனங்களும் இல்லை.</div>
                    }*@
            </article>

            <div class="divider"></div>

            <article class="odd-item" data-showonscroll="true" data-animation="fadeIn">
                @{var story = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.புதினம் && x.BookCategoryID != (Int16)EnumCode.Category.சரித்திர_வரலாற்று_நாவல் && x.BookCategoryID != (Int16)EnumCode.Category.சிறுகதைகள்); }
                @if (story != null)
                {
                    <figure class="sec-image">
                        <a class="post-thumbnail"><img src="../Images-Website/6-md.jpg" data-src="" title="@story.BookCategory" alt="@story.BookCategory" /></a>
                        <div class="top-bar">
                            <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                            <span class="comments"><i class="icon-bubble"></i>35</span>
                            <span class="views"><i class="icon-tv"></i>1555</span>
                            <span class="btn-srp"><a href="pg-category.html">@story.BookCategory</a></span>
                        </div>
                        <div class="bottom-bar">
                            <span class="btn-srp"><a href="#">மேலும்...</a></span>
                            <div class="rating">
                                <div class="stars retina x-2">
                                    <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                    <div class="fill" style="width: 80%"><div class="light"><i></i><i></i><i></i><i></i><i></i></div></div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="sec-desc">
                        <header class="title">
                            <h4 class="post-title">@Html.ActionLink(story.Header.ToString().Substring(0, (Convert.ToString(story.Header.ToString())).Length), "/AllReview", new { bookDetailsID = story.BookDetail.BookDetailsID }, new { @class = "divfloat", target = "_blank" })</h4>
                        </header>
                        <div class="meta-info"><span class="author"><i class="icon-user3"></i><a href="#">@story.Users.UserName</a></span><span class="date-time"><i class="icon-alarm2"></i>@story.SourceDate</span></div>
                        <div class="post-desc">
                            <p style="text-align:justify;">>@story.Description.ToString().Chop(270)</p>
                            <div>@Html.ActionLink("மேலும்...", "/BooksReview", "BooksReview", new { booksReviewID = story.BooksReviewID }, new { @class = "divfloat", target = "_blank" })</div>
                        </div>
                    </div>
                }
                @*else
                    {< div > அறிவியல்/சமூக/திகில்/துப்பறியும் நாவல் பற்றி தற்போது எந்த விதமான புத்தக விமர்சனங்களும் இல்லை.</ div >}*@
            </article>
        </div>
    </div>
</section>

<!-- Horizontal Category (2 Columns) -->
<section class="cat-widget wdg-cat-horiz-2col-sm clearfix">
    <div class="widget-title"><h3><a href="#"> கவிதைகள்</a></h3><span class="sub-title"></span><div class="sep-widget"></div></div>
    <div class="widget-content color-theme clearfix">
        <div>
            <!--<article class="first-post clearfix" data-showonscroll="true" data-animation="fadeIn">
                {var politics = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.அரசியல் || x.ParentID == (Int16)EnumCode.Category.கட்டுரைகள்); }
                if (politics !=null)
                {
                <figure class="sec-image">
                    <a class="post-thumbnail"><img src="" data-src="holder.js/280x195/sky" alt="politics.BookCategory" title="politics.BookCategory" /></a>
                    <div class="top-bar">
                        <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                        <span class="comments"><i class="icon-bubble"></i>12</span>
                        <span class="views"><i class="icon-tv"></i>500</span>
                        <span class="btn-srp"><a href="#">politics.BookCategory</a></span>
                    </div>
                    <div class="bottom-bar">
                        <span class="btn-srp"><a href="#">மேலும்...</a></span>
                        <div class="rating">
                            <div class="stars retina x-2">
                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="fill" style="width: 80%"><div class="light"><i></i><i></i><i></i><i></i><i></i></div></div>
                            </div>
                        </div>
                    </div>
                </figure>
                <div class="sec-desc">
                    <header class="title">
                        <h4 class="post-title">
                            Html.ActionLink(politics.Header.ToString().Substring(0, (Convert.ToString(politics.Header.ToString())).Length), "/AllReview", new { bookDetailsID = politics.BookDetail.BookDetailsID }, new { class = "divfloat", target = "_blank" })
                        </h4>
                    </header>
                    <div class="meta-info"><span class="author"><i class="icon-user3"></i><a href="#">politics.Users.Name</a></span><span class="date-time"><i class="icon-alarm2"></i>politics.CreatedDate</span></div>
                    <div class="post-desc">
                        <p style="text-align:justify;">politics.Description.ToString().Chop(270)</p>
                        <div>Html.ActionLink("மேலும்...", "/BooksReview", "BooksReview", new { booksReviewID = politics.BooksReviewID }, new { class = "divfloat", target = "_blank" })</div>
                    </div>
                </div>
                }-->
            @*else
                {<div> அரசியல் பற்றி தற்போது எந்த விதமான புத்தக விமர்சனங்களும் இல்லை.</div>}*@
            <!--</article>
            <br />-->
            <div class="divider"></div>
            <article class="first-post clearfix" data-showonscroll="true" data-animation="fadeIn">
                @{var poem = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.கவிதைகள்); }
                @if (poem != null)
                {
                    <figure class="sec-image">
                        <a class="post-thumbnail"><img src="" data-src="holder.js/280x195/sky" alt=@poem.BookCategory title=@poem.BookCategory /></a>
                        <div class="top-bar">
                            <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                            <span class="comments"><i class="icon-bubble"></i>35</span>
                            <span class="views"><i class="icon-tv"></i>300</span>
                            <span class="btn-srp"><a href="pg-category.html">@poem.BookCategory</a></span>
                        </div>
                        <div class="bottom-bar">
                            <span class="btn-srp"><a href="#">மேலும்...</a></span>
                            <div class="rating">
                                <div class="stars retina x-2">
                                    <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                    <div class="fill" style="width: 80%"><div class="light"><i></i><i></i><i></i><i></i><i></i></div></div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="sec-desc">
                        <header class="title">
                            <h4 class="post-title">@Html.ActionLink(poem.Header.ToString().Substring(0, (Convert.ToString(poem.Header.ToString())).Length), "/AllReview", new { bookDetailsID = poem.BookDetail.BookDetailsID }, new { @class = "divfloat", target = "_blank" })</h4>
                        </header>
                        <div class="meta-info">
                            <span class="author"><i class="icon-user3"></i><a href="#">@poem.Users.UserName</a></span>
                            <span class="date-time"><i class="icon-alarm2"></i>@poem.CreatedDate</span>
                        </div>
                        <div class="post-desc">
                            <p style="text-align:justify;">@poem.Description.ToString().Chop(270)</p>
                            <div>@Html.ActionLink("மேலும்...", "/BooksReview", "BooksReview", new { booksReviewID = poem.BooksReviewID }, new { @class = "divfloat", target = "_blank" })</div>
                        </div>
                    </div>
                }
                @*else
                    {<div> இலக்கியத்தைப் பற்றி தற்போது எந்த விதமான புத்தக விமர்சனங்களும் இல்லை.</div>}*@
            </article>
            <div class="divider"></div>
            <div class="related-posts">
                <div class="posts clearfix">
                    <div class="post-item odd-item" data-showonscroll="true" data-animation="fadeIn">
                        <article class="post-box clearfix">
                            @{var literature = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.இலக்கியம்); }
                            @if (literature != null)
                            {
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type anim"><i class="icon-location"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-s2px" src="" data-src="holder.js/70x65/sky" alt="@literature.ParentID" title="@literature.ParentID" />
                                    </div>
                                    <div class="rating">
                                        <div class="stars retina x-1">
                                            <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="fill" style="width: 80%"><div class="light"><i></i><i></i><i></i><i></i><i></i></div></div>
                                        </div>
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>
                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="#cat">@*@literature.BookCategory*@நாடகங்கள்</a></span>
                                    <h5>
                                        <a href="#" title="">
                                            @Html.ActionLink(literature.Header.ToString().Substring(0, (Convert.ToString(literature.Header.ToString())).Length), "/AllReview", new { bookDetailsID = literature.BookDetail.BookDetailsID }, new { @class = "divfloat", target = "_blank" })
                                        </a>
                                    </h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">@literature.Users.UserName</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>@literature.CreatedDate</span>
                                    </div>
                                </header>
                            }
                        </article>
                    </div>
                    <div class="post-item even-item" data-showonscroll="true" data-animation="fadeIn">
                        <article class="post-box clearfix">
                            @{var politicsAny = @Model.Any(x => x.ParentID == (Int16)EnumCode.Category.கலை_திரைப்படம்);}

                            @if (politicsAny == true)
                            {
                                var politics = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.கலை_திரைப்படம்);
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type anim"><i class="icon-music"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="@politics.BookCategory" title="@politics.BookCategory" />
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>
                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="#cat">திரை</a></span>
                                    <h5><a href="#" title="">
                                            @Html.ActionLink(politics.Header.ToString().Substring(0, (Convert.ToString(politics.Header.ToString())).Length), "/AllReview", new { bookDetailsID = politics.BookDetail.BookDetailsID }, new { @class = "divfloat", target = "_blank" })
                                    </a></h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">@politics.Users.UserName</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>@politics.CreatedDate</span>
                                    </div>
                                </header>
                            }
                        </article>
                    </div>
                    <div class="divider"></div>
                    <div class="post-item odd-item" data-showonscroll="true" data-animation="fadeIn">
                        <article class="post-box clearfix">
                            @{var travelAny = Model.Any(x => x.ParentID == (Int16)EnumCode.Category.பயணம்); }
                            @if (travelAny == true)
                            {
                                var travel = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.பயணம்);
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type a nim"><i class="icon-camera"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="@travel.BookCategory" title="@travel.BookCategory" />
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>
                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="#cat">பயணம்</a></span>
                                    <h5><a href="#" title="">@Html.ActionLink(travel.Header.ToString().Substring(0, (Convert.ToString(travel.Header.ToString())).Length), "/AllReview", new { bookDetailsID = travel.BookDetail.BookDetailsID }, new { @class = "divfloat", target = "_blank" })</a></h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">@travel.Users.UserName</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>@travel.CreatedDate</span>
                                    </div>
                                </header>
                            }
                        </article>
                    </div>
                    <div class="post-item even-item" data-showonscroll="true" data-animation="fadeIn">
                        <article class="post-box clearfix">
                            @{var biographyAny = Model.Any(x => x.ParentID == (Int16)EnumCode.Category.சுயசரிதைகள்); }
                            @if (biographyAny == true)
                            {
                                var biography = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.சுயசரிதைகள்);
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type anim"><i class="icon-camera2"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="@biography.BookCategory" title="@biography.BookCategory" />
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>
                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="#cat">@biography.BookCategory</a></span>
                                    <h5><a href="#" title="">@biography.Header</a></h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">@biography.Users.UserName</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>@biography.CreatedDate</span>
                                    </div>
                                </header>
                            }
                        </article>
                    </div>
                    <div class="divider"></div>
                    <div class="post-item odd-item" data-showonscroll="true" data-animation="fadeIn">
                        <article class="post-box clearfix">
                            @{var cinemaAny = Model.Any(x => x.ParentID == (Int16)EnumCode.Category.வேளாண்மை); }
                            @if (cinemaAny == true)
                            {
                                var cinema = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.வேளாண்மை);
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type anim"><i class="icon-camera"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="@cinema.BookCategory" title="@cinema.BookCategory" />
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>
                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="#cat">@cinema.BookCategory</a></span>
                                    <h5><a href="#" title="">@cinema.Header</a></h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">@cinema.Users.UserName</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>@cinema.CreatedDate</span>
                                    </div>
                                </header>
                            }
                        </article>
                    </div>
                    <div class="post-item even-item" data-showonscroll="true" data-animation="fadeIn">
                        <article class="post-box clearfix">
                            @{var selfConfidenceAny = Model.Any(x => x.ParentID == (Int16)EnumCode.Category.தன்னம்பிக்கை); }
                            @if (selfConfidenceAny == true)
                            {
                                var selfConfidence = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.தன்னம்பிக்கை);
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type anim"><i class="icon-camera2"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="@selfConfidence.BookCategory" title="@selfConfidence.BookCategory" />
                                    </div>
                                    <div class="rating">
                                        <div class="stars retina x-1">
                                            <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="fill" style="width: 80%">
                                                <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>
                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="#cat">@selfConfidence.BookCategory</a></span>
                                    <h5><a href="#" title="">@selfConfidence.Header</a></h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">@selfConfidence.Users.UserName</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>@selfConfidence.CreatedDate</span>
                                    </div>
                                </header>
                            }
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Best Reviews -->
<!-- #region Commented Code -->
@*<section id="divCatReviews_1" class="cat-widget wdg-cat-reviews cat-scroll-box clearfix" data-showonscroll="true" data-animation="fadeIn">

        <div class="widget-title"><h3><a href="#">குறுநாவல்1213</a></h3><span class="sub-title"></span><div class="sep-widget"></div></div>

        <div class="widget-content color-theme">
            <div>
                <ul class="nav-arrows list-inline">
                    <li><a href="#" class="backward"><i class="icon-arrow-left6"></i></a></li>
                    <li><a href="#" class="forward"><i class="icon-arrow-right6"></i></a></li>
                </ul>
                <div class="scroll-box">
                    <div class="post-item">
                        <article class="post-box clearfix">
                            <a class="post-thumbnail"><img src="" data-src="holder.js/314x210/sky" alt="" title="" /></a>

                            <div class="top-bar">
                                <div class="review-value">
                                    <span class="value">71.8%</span>
                                    <span class="grade">Very Good</span>
                                    <div class="rating">
                                        <div class="stars retina x-1">
                                            <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="fill" style="width: 71.8%">
                                                <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="btn-srp"><a href="#">மேலும்...</a></span>
                            </div>
                            <header class="title-bar">
                                <h4 class="post-title"><a href="#">BookName</a></h4>
                                <div class="meta-info">
                                    <span class="author"><i class="icon-user3"></i><a href="#">Users.Name</a></span>
                                    <span class="date-time"><i class="icon-alarm2"></i>CreatedDate</span>
                                </div>
                            </header>
                        </article>
                    </div>
                    <div class="post-item">
                            <article class="post-box clearfix">
                                <a class="post-thumbnail"><img src="" data-src="holder.js/314x210/sky" alt="" /></a>
                                <div class="top-bar">
                                    <div class="review-value">
                                        <span class="value">99%</span>
                                        <span class="grade">Excellent</span>

                                        <div class="rating">
                                            <div class="stars retina x-1">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                                <div class="fill" style="width: 99%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <span class="btn-srp"><a href="#">மேலும்...</a></span>
                                </div>

                                <header class="title-bar">
                                    <h4 class="post-title"><a href="#">Galaxy Note 3 LTE Version</a></h4>

                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                        <span class="date-time"><i class="icon-alarm2"></i>26 Feb 2013, 05:15 AM</span>
                                    </div>

                                </header>

                            </article>
                        </div>

                    <div class="post-item">
                            <article class="post-box clearfix">

                                <a class="post-thumbnail">
                                    <img src="" data-src="holder.js/314x210/sky" alt="" />
                                </a>

                                <div class="top-bar">
                                    <div class="review-value">
                                        <span class="value">80%</span>
                                        <span class="grade">Very Good</span>

                                        <div class="rating">
                                            <div class="stars retina x-1">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                                <div class="fill" style="width: 80%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <span class="btn-srp"><a href="#">மேலும்...</a></span>
                                </div>

                                <header class="title-bar">
                                    <h4 class="post-title"><a href="#">Sony Xperia Z1 Ultra</a></h4>

                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                        <span class="date-time"><i class="icon-alarm2"></i>26 Feb 2013, 05:15 AM</span>
                                    </div>

                                </header>

                            </article>
                        </div>

                    <div class="post-item">
                            <article class="post-box clearfix">

                                <a class="post-thumbnail">
                                    <img src="" data-src="holder.js/314x210/sky" alt="" />
                                </a>

                                <div class="top-bar">
                                    <div class="review-value">
                                        <span class="value">50%</span>
                                        <span class="grade">Fair</span>

                                        <div class="rating">
                                            <div class="stars retina x-1">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                                <div class="fill" style="width: 50%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <span class="btn-srp"><a href="#">மேலும்...</a></span>
                                </div>

                                <header class="title-bar">
                                    <h4 class="post-title"><a href="#">Nokia Lumia 1520</a></h4>

                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                        <span class="date-time"><i class="icon-alarm2"></i>26 Feb 2013, 05:15 AM</span>
                                    </div>

                                </header>

                            </article>
                        </div>

                </div>
            </div>
        </div>

    </section>*@

<!-- #endregion -->
<!-- Vertical Category -->
<div class="row wdg-cat-vert-container">

    <section class="cat-widget wdg-cat-vert cat-vert-left clearfix col-md-6 col-sm-6 col-xs-12">

        <div class="widget-title">
            <h3><a href="#">கட்டுரை - </a></h3>
            <span class="sub-title">அரசியல்</span>
            <div class="sep-widget"></div>
        </div>

        <div class="widget-content color-theme clearfix">
            <div>
                <article class="first-post" data-showonscroll="true" data-animation="fadeIn">
                    @{var shortNovelAny = Model.Any(x => x.BookCategoryID == (Int16)EnumCode.Category.அரசியல்); }
                    @if (shortNovelAny == true)
                    {
                        var shortNovel = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.அரசியல்);
                        <a class="post-thumbnail"><img src="" data-src="holder.js/308x220/sky" alt="அரசியல்" title="அரசியல்" /></a>

                        <div class="top-bar">
                            <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                            <span class="comments"><i class="icon-bubble"></i>32</span>
                            <span class="views"><i class="icon-tv"></i>15000</span>
                            <span class="btn-srp"><a href="pg-category.html">அரசியல்</a></span>
                        </div>
                        <header class="title-bar">
                            <h4 class="post-title"><a href="#">@shortNovel.Header</a></h4>
                            <div class="meta-info">
                                <span class="author"><i class="icon-user3"></i><a href="#">@shortNovel.Users.UserName</a></span>
                                <span class="date-time"><i class="icon-alarm2"></i>@shortNovel.CreatedDate</span>
                            </div>
                        </header>
                        <div class="bottom-bar">
                            <span class="btn-srp"><a href="#">மேலும்...</a></span>
                            <div class="rating">
                                <div class="stars retina x-2">
                                    <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                    <div class="fill" style="width: 50%"><div class="light"><i></i><i></i><i></i><i></i><i></i></div></div>
                                </div>
                            </div>
                        </div>
                    }
                </article>

                <div class="related-posts">
                    <div class="posts clearfix">
                        <div class="post-item" data-showonscroll="true" data-animation="fadeIn">
                            <article class="post-box clearfix">
                                @{var sangaIlakkiyaAny = Model.Any(x => x.ParentID == (Int16)EnumCode.Category.மருத்துவம்); }
                                @if (sangaIlakkiyaAny == true)
                                {
                                    var sangaIlakkiya = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.மருத்துவம்);
                                    <figure class="wdg-col-4 sec-image">
                                        <div class="mask-background white"></div>
                                        <div class="post-type anim"><i class="icon-camera2"></i></div>
                                        <div class="post-thumbnail border-radius-2px"><img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="சமையல்" title="சமையல்" /></div>
                                        <a href="#" class="more"></a>
                                    </figure>
                                    <header class="wdg-col-8 sec-title">
                                        <span class="btn-srp"><a href="pg-category.html">சங்க இலக்கியம்</a></span>
                                        <h5><a href="#" title="">@sangaIlakkiya.Header</a></h5>
                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">@sangaIlakkiya.Users.UserName</a></span>
                                            <span class="date"><i class="icon-alarm2"></i>@sangaIlakkiya.CreatedDate</span>
                                        </div>
                                    </header>
                                }
                            </article>
                        </div>
                        <div class="post-item" data-showonscroll="true" data-animation="fadeIn">
                            <article class="post-box clearfix">
                                @{var folkloreAny = Model.Any(x => x.ParentID == (Int16)EnumCode.Category.மருத்துவம்); }
                                @if (folkloreAny == true)
                                {
                                    var folklore = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.மருத்துவம்);
                                    <figure class="wdg-col-4 sec-image">
                                        <div class="mask-background white"></div>
                                        <div class="post-type anim"><i class="icon-music"></i></div>
                                        <div class="post-thumbnail border-radius-2px"><img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="" /></div>
                                        <div class="rating">
                                            <div class="stars retina x-1">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                                <div class="fill" style="width: 70%"><div class="light"><i></i><i></i><i></i><i></i><i></i></div></div>
                                            </div>
                                        </div>
                                        <a href="#" class="more"></a>
                                    </figure>
                                    <header class="wdg-col-8 sec-title">
                                        <span class="btn-srp"><a href="pg-category.html">மருத்துவம்</a></span>
                                        <h5><a href="#" title="">@folklore.Header</a></h5>
                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">@folklore.Users.UserName</a></span>
                                            <span class="date"><i class="icon-alarm2"></i>@folklore.CreatedDate</span>
                                        </div>
                                    </header>
                                }
                            </article>
                        </div>
                        <!-- #region Commented Code -->
                        @*<div class="post-item" data-showonscroll="true" data-animation="fadeIn">
            <article class="post-box clearfix">

                <figure class="wdg-col-4 sec-image">

                    <div class="mask-background white"></div>

                    <div class="post-type anim"><i class="icon-camera"></i></div>

                    <div class="post-thumbnail border-radius-2px">
                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="" />
                    </div>

                    <div class="rating">
                        <div class="stars retina x-1">
                            <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                            <div class="fill" style="width: 50%">
                                <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="more"></a>
                </figure>

                <header class="wdg-col-8 sec-title">

                    <span class="btn-srp"><a href="pg-category.html">அறிவியல்</a></span>

                    <h5><a href="#" title="">All New York's a Stage in Super Bowl Halftime Show</a></h5>

                    <div class="meta-info">

                        <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                        <span class="date"><i class="icon-alarm2"></i>14 Aug 2013</span>

                    </div>

                </header>
            </article>
        </div>*@

                        <!-- #endregion -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cat-widget wdg-cat-vert cat-vert-right clearfix col-md-6 col-sm-6 col-xs-12">

        <div class="widget-title">
            <h3><a href="#">கட்டுரை - </a></h3>
            <span class="sub-title">இலக்கியம் & மற்றவை</span>

            <div class="sep-widget"></div>
        </div>

        <div class="widget-content color-theme clearfix">
            <div>
                <article class="first-post" data-showonscroll="true" data-animation="fadeIn">
                    @{var agriAny = Model.Any(x => x.ParentID == (Int16)EnumCode.Category.மதம்); }
                    @if (agriAny == true)
                    {
                        var agri = Model.FirstOrDefault(x => x.ParentID == (Int16)EnumCode.Category.மதம்);
                        <a class="post-thumbnail">
                            <img src="" data-src="holder.js/308x220/sky" alt="" />
                        </a>

                        <div class="top-bar">
                            <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                            <span class="comments"><i class="icon-bubble"></i>1000</span>
                            <span class="views"><i class="icon-tv"></i>30000</span>

                            <span class="btn-srp"><a href="pg-category.html">மதம்</a></span>
                        </div>

                        <header class="title-bar">
                            <h4 class="post-title"><a href="#">@agri.Header</a></h4>

                            <div class="meta-info">
                                <span class="author"><i class="icon-user3"></i><a href="#">@agri.Users.UserName</a></span>
                                <span class="date-time"><i class="icon-alarm2"></i>@agri.CreatedDate</span>
                            </div>

                        </header>

                        <div class="bottom-bar">
                            <span class="btn-srp"><a href="#">மேலும்...</a></span>

                            <div class="rating">
                                <div class="stars retina x-2">
                                    <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                    <div class="fill" style="width: 40%">
                                        <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </article>

                <div class="related-posts">
                    <div class="posts clearfix">

                        <div class="post-item" data-showonscroll="true" data-animation="fadeIn">
                            <article class="post-box clearfix">
                                @{var dramaAny = Model.Any(x => x.BookCategoryID == (Int16)EnumCode.Category.நாடகம்); }
                                @if (dramaAny == true)
                                {
                                    var drama = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.நாடகம்);
                                    <figure class="wdg-col-4 sec-image">
                                        <div class="mask-background white"></div>
                                        <div class="post-type anim"><i class="icon-location"></i></div>
                                        <div class="post-thumbnail border-radius-2px">
                                            <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="" />
                                        </div>
                                        <a href="#" class="more"></a>
                                    </figure>

                                    <header class="wdg-col-8 sec-title">
                                        <span class="btn-srp"><a href="pg-category.html">நாடகங்கள்</a></span>
                                        <h5><a href="#" title="">@drama.Header</a></h5>
                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">@drama.Users.UserName</a></span>
                                            <span class="date"><i class="icon-alarm2"></i>@drama.CreatedDate</span>
                                        </div>
                                    </header>
                                }
                            </article>
                        </div>

                        <div class="post-item" data-showonscroll="true" data-animation="fadeIn">
                            <article class="post-box clearfix">
                                @{var religionAny = Model.Any(x => x.BookCategoryID == (Int16)EnumCode.Category.மதம்); }
                                @if (religionAny == true)
                                {
                                    var religion = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.மதம்);
                                    <figure class="wdg-col-4 sec-image">
                                        <div class="mask-background white"></div>
                                        <div class="post-type anim"><i class="icon-camera2"></i></div>
                                        <div class="post-thumbnail border-radius-2px">
                                            <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="" />
                                        </div>
                                        <div class="rating">
                                            <div class="stars retina x-1">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                                <div class="fill" style="width: 20%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="more"></a>
                                    </figure>
                                    <header class="wdg-col-8 sec-title">
                                        <span class="btn-srp"><a href="pg-category.html">மதம்</a></span>
                                        <h5><a href="#" title="">@religion.Header</a></h5>
                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">@religion.Users.UserName</a></span>
                                            <span class="date"><i class="icon-alarm2"></i>@religion.CreatedDate</span>
                                        </div>
                                    </header>
                                }
                            </article>
                        </div>

                        @*<div class="post-item" data-showonscroll="true" data-animation="fadeIn">
                                <article class="post-box clearfix">
                                    <figure class="wdg-col-4 sec-image">
                                        <div class="mask-background white"></div>
                                        <div class="post-type anim"><i class="icon-camera2"></i></div>
                                        <div class="post-thumbnail border-radius-2px">
                                            <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="" />
                                        </div>
                                        <div class="rating">
                                            <div class="stars retina x-1">
                                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                                <div class="fill" style="width: 60%">
                                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="more"></a>
                                    </figure>
                                    <header class="wdg-col-8 sec-title">
                                        <span class="btn-srp"><a href="pg-category.html">மருத்துவம்</a></span>
                                        <h5><a href="#" title="">Captivating Time Lapse Shows Bird's-Eye View of Warsaw</a></h5>
                                        <div class="meta-info">
                                            <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                            <span class="date"><i class="icon-alarm2"></i>14 Aug 2013</span>
                                        </div>
                                    </header>
                                </article>
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- Horizontal Category (1 Column) -->
<section class="cat-widget wdg-cat-horiz-1col-sm clearfix">

    <div class="widget-title">
        <h3><a href="#">மொழிபெயர்ப்பு</a></h3>
        <span class="sub-title">நூல்கள்</span>
        <div class="sep-widget"></div>
    </div>

    <div class="widget-content color-theme clearfix">
        <div>
            <article class="first-post" data-showonscroll="true" data-animation="fadeIn">
                @{var translateNovelAny = Model.Any(x => x.BookCategoryID == (Int16)EnumCode.Category.மொழிபெயர்ப்புநாவல்); }
                @if (translateNovelAny == true)
                {
                    var translateNovel = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.மொழிபெயர்ப்புநாவல்);
                    <a class="post-thumbnail"><img src="" data-src="holder.js/323x230/sky" alt="" /></a>
                    <div class="top-bar">
                        <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                        <span class="comments"><i class="icon-bubble"></i>10</span>
                        <span class="views"><i class="icon-tv"></i>2000</span>
                        <span class="btn-srp"><a href="pg-category.html">நாவல்</a></span>
                    </div>

                    <header class="title-bar">
                        <h4 class="post-title">@Html.ActionLink(translateNovel.Header.ToString().Substring(0, 6), "/BooksReview", new { philosID = translateNovel.BooksReviewID }, new { title = translateNovel.Header })</h4>
                        <div class="meta-info">
                            <span class="author"><i class="icon-user3"></i><a href="#">@translateNovel.Users.UserName</a></span>
                            <span class="date-time"><i class="icon-alarm2"></i>@translateNovel.SourceDate</span>
                        </div>
                    </header>
                    <div class="bottom-bar">
                        <span class="btn-srp"><a href="#">மேலும்...</a></span>
                        <div class="rating">
                            <div class="stars retina x-2">
                                <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="fill" style="width: 40%">
                                    <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </article>

            <div class="related-posts">
                <div class="posts clearfix">

                    <div class="post-item" data-showonscroll="true" data-animation="fadeIn">
                        <article class="post-box clearfix">
                            @{var translateShortStoryAny = Model.Any(x => x.BookCategoryID == (Int16)EnumCode.Category.மொழிபெயர்ப்புசிறுகதை); }
                            @if (translateShortStoryAny == true)
                            {
                                var translateShortStory = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.மொழிபெயர்ப்புசிறுகதை);
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type anim"><i class="icon-location"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="" />
                                    </div>

                                    <div class="rating">
                                        <div class="stars retina x-1">
                                            <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="fill" style="width: 70%">
                                                <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>

                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="pg-category.html">மொழிபெயர்ப்பு சிறுகதை</a></span>
                                    <h5><a href="#" title="">@translateShortStory.Header</a></h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">@translateShortStory.Users.UserName</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>@translateShortStory.CreatedDate</span>
                                    </div>
                                </header>
                            }
                        </article>
                    </div>

                    <div class="post-item" data-showonscroll="true" data-animation="fadeIn">
                        <article class="post-box clearfix">
                            @{var translatePoemAny = Model.Any(x => x.BookCategoryID == (Int16)EnumCode.Category.மொழிபெயர்ப்புகவிதைகள்); }
                            @if (translatePoemAny == true)
                            {
                                var translatePoem = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.மொழிபெயர்ப்புகவிதைகள்);
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type anim"><i class="icon-camera2"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="" />
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>

                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="pg-category.html">கவிதை</a></span>
                                    <h5><a href="#" title="">@translatePoem.Header</a></h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">@translatePoem.Users.UserName</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>@translatePoem.CreatedDate</span>
                                    </div>
                                </header>
                            }
                        </article>
                    </div>

                    @*<div class="post-item" data-showonscroll="true" data-animation="fadeIn">
                            <article class="post-box clearfix">
                                <figure class="wdg-col-4 sec-image">
                                    <div class="mask-background white"></div>
                                    <div class="post-type anim"><i class="icon-music"></i></div>
                                    <div class="post-thumbnail border-radius-2px">
                                        <img class="border-radius-2px" src="" data-src="holder.js/70x65/sky" alt="" />
                                    </div>
                                    <a href="#" class="more"></a>
                                </figure>

                                <header class="wdg-col-8 sec-title">
                                    <span class="btn-srp"><a href="pg-category.html">கட்டுரை</a></span>
                                    <h5><a href="#" title="">Google Preparing for a Stock Split in April</a></h5>
                                    <div class="meta-info">
                                        <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                        <span class="date"><i class="icon-alarm2"></i>14 Aug 2013</span>
                                    </div>
                                </header>
                            </article>
                        </div>*@
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Slides Category -->
<section id="divCatScrollBox_1" class="cat-widget wdg-cat-scrollbox cat-scroll-box clearfix" data-showonscroll="true" data-animation="fadeIn">

    <div class="widget-title">
        <h3><a href="#">குழந்தைகள்</a></h3>
        <span class="sub-title">இலக்கியம்</span>
        <div class="sep-widget"></div>
    </div>

    <div class="widget-content color-theme clearfix">
        <div>
            @*<ul class="nav-arrows list-inline">
                    <li><a href="#" class="backward"><i class="icon-arrow-left6"></i></a></li>
                    <li><a href="#" class="forward"><i class="icon-arrow-right6"></i></a></li>
                </ul>*@

            <div class="scroll-box">
                <div class="post-item">
                    <article class="post-box clearfix">
                        @{var childAny = Model.Any(x => x.BookCategoryID == (Int16)EnumCode.Category.சிறுவர்கதைகள்_நாவல்கள்); }
                        @if (childAny == true)
                        {
                            var child = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.சிறுவர்கதைகள்_நாவல்கள்);
                            <a class="post-thumbnail">
                                <img src="" data-src="holder.js/314x210/sky" alt="" />
                            </a>
                            <div class="top-bar">
                                <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                                <span class="comments"><i class="icon-bubble"></i>1500</span>
                                <span class="views"><i class="icon-tv"></i>2000</span>
                                <span class="btn-srp"><a href="pg-category.html">சிறார் கதைகள்</a></span>
                            </div>
                            <header class="title-bar">
                                <h4 class="post-title"><a href="#">@child.Header</a></h4>
                                <div class="meta-info">
                                    <span class="author"><i class="icon-user3"></i><a href="#">@child.Users.UserName</a></span>
                                    <span class="date-time"><i class="icon-alarm2"></i>@child.CreatedDate</span>
                                </div>
                            </header>

                            <div class="bottom-bar">
                                <span class="btn-srp"><a href="#">மேலும்...</a></span>
                                <div class="rating">
                                    <div class="stars retina x-2">
                                        <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="fill" style="width: 30%">
                                            <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </article>
                </div>

                <div class="post-item">
                    <article class="post-box clearfix">
                        @{var childOtherAny = Model.Any(x => x.BookCategoryID == (Int16)EnumCode.Category.சிறார்இலக்கியம்); }
                        @if (childOtherAny == true)
                        {
                            var childOther = Model.FirstOrDefault(x => x.BookCategoryID == (Int16)EnumCode.Category.சிறார்இலக்கியம்);
                            <a class="post-thumbnail">
                                <img src="" data-src="holder.js/314x210/sky" alt="" />
                            </a>
                            <div class="top-bar">
                                <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                                <span class="comments"><i class="icon-bubble"></i>1500</span>
                                <span class="views"><i class="icon-tv"></i>2000</span>
                                <span class="btn-srp"><a href="#">@childOther.BookCategory</a></span>
                            </div>

                            <header class="title-bar">
                                <h4 class="post-title"><a href="#">@childOther.Header</a></h4>
                                <div class="meta-info">
                                    <span class="author"><i class="icon-user3"></i><a href="#">@childOther.Users.UserName</a></span>
                                    <span class="date-time"><i class="icon-alarm2"></i>@childOther.CreatedDate</span>
                                </div>
                            </header>

                            <div class="bottom-bar">
                                <span class="btn-srp"><a href="#">மேலும்...</a></span>
                                <div class="rating">
                                    <div class="stars retina x-2">
                                        <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="fill" style="width: 80%">
                                            <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </article>
                </div>

                @*<div class="post-item">
                        <article class="post-box clearfix">
                            <a class="post-thumbnail">
                                <img src="" data-src="holder.js/314x210/sky" alt="" />
                            </a>

                            <div class="top-bar">
                                <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>

                                <span class="comments"><i class="icon-bubble"></i>1500</span>
                                <span class="views"><i class="icon-tv"></i>2000</span>

                                <span class="btn-srp"><a href="#">Music</a></span>
                            </div>

                            <header class="title-bar">
                                <h4 class="post-title"><a href="#">Post With SoundCloud</a></h4>

                                <div class="meta-info">
                                    <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                    <span class="date-time"><i class="icon-alarm2"></i>26 Feb 2013, 05:15 AM</span>
                                </div>

                            </header>

                            <div class="bottom-bar">
                                <span class="btn-srp"><a href="#">மேலும்...</a></span>

                                <div class="rating">
                                    <div class="stars retina x-2">
                                        <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                        <div class="fill" style="width: 60%">
                                            <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </article>
                    </div>

                    <div class="post-item">
                        <article class="post-box clearfix">
                            <a class="post-thumbnail">
                                <img src="" data-src="holder.js/314x210/sky" alt="" />
                            </a>

                            <div class="top-bar">
                                <span class="likes"><a href="#"><i class="icon-heart"></i>15</a></span>
                                <span class="comments"><i class="icon-bubble"></i>1500</span>
                                <span class="views"><i class="icon-tv"></i>2000</span>
                                <span class="btn-srp"><a href="#">Fashion</a></span>
                            </div>

                            <header class="title-bar">
                                <h4 class="post-title"><a href="#">Post With Googlemap</a></h4>

                                <div class="meta-info">
                                    <span class="author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></span>
                                    <span class="date-time"><i class="icon-alarm2"></i>26 Feb 2013, 05:15 AM</span>
                                </div>

                            </header>

                            <div class="bottom-bar">
                                <span class="btn-srp"><a href="#">மேலும்...</a></span>

                                <div class="rating">
                                    <div class="stars retina x-2">
                                        <div class="gray"><i></i><i></i><i></i><i></i><i></i></div>

                                        <div class="fill" style="width: 50%">
                                            <div class="light"><i></i><i></i><i></i><i></i><i></i></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </article>
                    </div>*@
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            //$("#datepicker").datepicker();
        });

        jQuery(function () {

            jQuery('#camera_wrap_1').camera({
                //thumbnails: false,
                //height: '500px',
                //loader: 'pie',
                //pagination: true,
                //time: 7000,	//milliseconds between the end of the sliding effect and the start of the nex one
                //transPeriod: 800,	//lenght of the sliding effect in milliseconds
                //hover: true,	//true, false. Puase on state hover. Not available for mobile devices

                //autoAdvance: false,	//true, false Auto Play
                //mobileAutoAdvance: false, //true, false. Auto-advancing for mobile devices

                //fx: 'random',	//'random','simpleFade', 'curtainTopLeft', 'curtainTopRight', 'curtainBottomLeft', 'curtainBottomRight',
                //// 'curtainSliceLeft', 'curtainSliceRight', 'blindCurtainTopLeft', 'blindCurtainTopRight', 'blindCurtainBottomLeft',
                ////'blindCurtainBottomRight', 'blindCurtainSliceBottom', 'blindCurtainSliceTop', 'stampede', 'mosaic', 'mosaicReverse',
                ////'mosaicRandom', 'mosaicSpiral', 'mosaicSpiralReverse', 'topLeftBottomRight', 'bottomRightTopLeft', 'bottomLeftTopRight', 'bottomLeftTopRight'

                ////you can also use more than one effect, just separate them with commas: 'simpleFade, scrollRight, scrollBottom'

                alignment: 'center',           //topLeft, topCenter, topRight, centerLeft, center, centerRight, bottomLeft, bottomCenter, bottomRight
                autoAdvance: false, //true, false Auto Play
                mobileAutoAdvance: true,
                barDirection: 'leftToRight',   //'leftToRight', 'rightToLeft', 'topToBottom', 'bottomToTop'
                barPosition: 'bottom',         //'left', 'right', 'top', 'bottom'
                cols: 6,                      //nr of cols
                rows: 4,					//nr of rows
                slicedCols: 12,
                slicedRows: 8,
                easing: 'easeInOutExpo',      //all easings
                mobileEasing: '',
                fx: 'random',              //'random','simpleFade', 'curtainTopLeft', 'curtainTopRight', 'curtainBottomLeft', 'curtainBottomRight', 'curtainSliceLeft', 'curtainSliceRight', 'blindCurtainTopLeft', 'blindCurtainTopRight', 'blindCurtainBottomLeft', 'blindCurtainBottomRight', 'blindCurtainSliceBottom', 'blindCurtainSliceTop', 'stampede', 'mosaic', 'mosaicReverse', 'mosaicRandom', 'mosaicSpiral', 'mosaicSpiralReverse', 'topLeftBottomRight', 'bottomRightTopLeft', 'bottomLeftTopRight', 'bottomLeftTopRight', 'scrollLeft', 'scrollRight', 'scrollHorz', 'scrollBottom', 'scrollTop'
                mobileFx: '',
                hover: true, //true, false. Puase on state hover. Not available for mobile devices
                navigation: true,
                navigationHover: true,
                mobileNavHover: true,
                pagination: true,
                thumbnails: false,
                playPause: false,
                pauseOnClick: false,
                loader: 'pie',               //pie, bar, none
                loaderColor: '#eeeeee',
                loaderBgColor: '#222222',
                loaderOpacity: 0.8,
                loaderPadding: 2,
                pieDiameter: 38,
                piePosition: 'rightTop',
                portrait: false,
                slideOn: 'random', 			//next, prev, random
                time: 7000,			//milliseconds between the end of the sliding effect and the start of the nex one
                transPeriod: 1200	 //length of the sliding effect in milliseconds
            });

            //function letitsnow() {
            //    // https://github.com/daveWid/canvas-snow
            //    var canvas = document.getElementById("snowfall");
            //    canvas.width = window.innerWidth;
            //    canvas.height = window.innerHeight;
            //    // Now the emitter
            //    var emitter = Object.create(rectangleEmitter);
            //    emitter.setCanvas(canvas);
            //    emitter.setBlastZone(0, -10, canvas.width, 1);
            //    emitter.particle = snow;
            //    emitter.runAhead(0);
            //    emitter.start(60);
            //}

            //letitsnow();

            // Owl
            serpentsoft_owlStartCarousel('divCatScrollBox_1', 2, {
                //items: 2, //10 items above 1000px browser width
                //itemsDesktop: [647, 2], //5 items between 1000px and 901px
                //itemsDesktopSmall: [597, 2], // betweem 900px and 601px

                itemsCustom: [
                    [0, 2],
                    [992, 2],
                    [765, 2],
                    [480, 1],
                    [150, 1],
                ],

                itemsTablet: false, //2 items between 600 and 0
                itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                rewindNav: true,
                lazyLoad: true,
            });


            // Reviews Category
            serpentsoft_owlStartCarousel('divCatReviews_1', 2, {

                itemsCustom: [
                    [0, 2],
                    [992, 2],
                    [765, 2],
                    [480, 1],
                    [150, 1],
                ],

                itemsTablet: false, //2 items between 600 and 0
                itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                rewindNav: true,
                lazyLoad: true,
            });


            // Widget Slides ( divWidgetSlides_1 )
            serpentsoft_owlStartCarousel('divWidgetSlides_1', 1, {

                itemsCustom: [
                    [0, 1],
                    //[992, 1],
                    //[750, 1],
                    //[410, 1],
                    [992, 1],
                    [765, 1],
                    [480, 1],
                    [150, 1],
                ],

                itemsTablet: false, //2 items between 600 and 0
                itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                rewindNav: true,
                lazyLoad: true,
            });
        });

    </script>
}